@model IEnumerable<web_app_mensajes.MensajeTemp>

@{
    ViewBag.Title = "Principal";
}


<br />
<p>
   
    @Html.ActionLink("Agregar teléfono", "Create", null, new { @class = "btn btn-primary" })

</p>
<br />
<table class="table table-striped table-hover table-bordered" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>Accion</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.ActionLink("Enviar", "Edit", new { id = item.iD, editar = "no" }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Editar", "Edit", new { id = item.iD ,editar="si"}, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.iD }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.iD }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
